<div class="task-unit" id="task-unit-<%= task.id %>"> 
  <li>
    <%= task.description %>
    <br>
    <%= task.value.to_s + " Points" %> 
    <br>
    <%= task.frequency == 7 ? "Daily" : task.frequency.to_s + "x/week" %>
    <div class="delete-task">
      <i class="icon-trash icon-large" id="delete-task-<%= task.id %>"></i>
    </div>
  </li>
</div>


<script>

  $(document).ready(function () { 
      
      var $deleteTaskButton = $("#delete-task-<%= task.id %>")
      var $taskUnit = $("#task-unit-<%= task.id %>")

      $deleteTaskButton.on("click", function () {

        $.ajax({
          url: "<%= goal_task_path(goal, task) %>",
          type: "delete",
          data: {
            "id": "<%= task.id %>"
          },
          success: function () {
            $taskUnit.addClass("destroyed");
          }
        })
      })

  })

</script>