<div class="goal-unit" id="goal-unit-<%= goal.id %>"> 
  <div class="goal-header">
    <h1><%= goal.objective %></h1>
    <div class="badge badge-important delete-goal" id="delete-goal-<%= goal.id %>">
      Delete Goal
    </div>
  </div>


  <div class="task-list">
    <ul>
    <% goal.tasks.each do |task| %> 
      <li>
        <%= render partial: "tasks/task_unit", locals: {task: task, goal: goal} %>
      </li>
    <% end %>
    </ul> 
  </div>

  <div id="added-tasks-<%= goal.id %>"></div>
  <div id="added-task-forms-<%= goal.id %>"></div>

  <div class="add-task-button badge badge-success" id="add-task-button-<%= goal.id %>">
    <i class="icon-plus"></i>Add Task
  </div>

</div>

<script>

  $(document).ready(function () {

    var $deleteGoalButton = $("#delete-goal-<%= goal.id %>");
    var $goalUnit = $("#goal-unit-<%= goal.id %>");

    $deleteGoalButton.on("click", function () {

      var confirmDelete = confirm("Are you sure?");
      console.log(confirmDelete)

      if (confirmDelete === true) {
        $.ajax({
          url: "<%= goal_path(goal) %>",
          type: "delete",
          data: {
            "id": "<%= goal.id %>"
          },
          success: function () {
            $goalUnit.addClass("destroyed");
          }
        })
      }
    })

    
    var $addTask = $("#add-task-button-<%= goal.id %>")
    var $addedTaskForms = $("#added-task-forms-<%= goal.id %>")

    $addTask.on("click", function () {

      $.ajax({
        url: "<%= new_task_path %>",
        type: "GET",
        data: {
          "goal_id": "<%= goal.id %>"
        },
        success: function (data) {
          $addedTaskForms.append(data);
        }
      })

    })



  })

</script>