<div class="goal-unit" id="goal-unit-<%= goal.id %>"> 
  <div class="goal-header">
    <h1><%= goal.objective %></h1>
    <div class="badge badge-important delete-goal editable" id="delete-goal-<%= goal.id %>">
      Delete Goal
    </div>
    <div class="add-task-button badge badge-success editable" id="add-task-button-<%= goal.id %>">Add Task
    </div>
  </div>


  <div class="task-list group">
    <ul>
    <% goal.tasks.each do |task| %> 
      <li>
        <%= render partial: "tasks/task_unit", locals: {task: task, goal: goal} %>
      </li>
    <% end %>
    </ul>
    
    <div id="added-tasks-<%= goal.id %>"></div>
  </div>

  
  <div id="added-task-forms-<%= goal.id %>"></div>

  

</div>

<script>

  $(document).ready(function () {

    var $deleteGoalButton = $("#delete-goal-<%= goal.id %>");
    var $goalUnit = $("#goal-unit-<%= goal.id %>");

    $deleteGoalButton.on("click", function () {

      var confirmDelete = confirm("Are you sure?");

      if (confirmDelete === true) {
        $.ajax({
          url: "<%= goal_path(goal) %>",
          type: "delete",
          data: {
            "id": "<%= goal.id %>"
          },
          success: function () {
            $goalUnit.addClass("destroyed");

            $.ajax({
              url: "/users/average_score",
              type: "get",
              data: {},
              success: function(data) {
                var $newScore = $(".current-score-container")
                $newScore.empty();
                $newScore.html(data);
              }
            })

          }
        })
      }
    })

    
    var $addTask = $("#add-task-button-<%= goal.id %>")
    var $addedTaskForms = $("#added-task-forms-<%= goal.id %>")

    $addTask.on("click", function () {

      $.ajax({
        url: "<%= new_task_path %>",
        type: "GET",
        data: {
          "goal_id": "<%= goal.id %>"
        },
        success: function (data) {
          $addedTaskForms.append(data);
        }
      })

    })



  })

</script>