<div class="goals-index">

  <div class="goals-header group"> 

    <div class="current-score-container">
      <%= render partial: "users/average_score" %>
    </div>
    <div class="new-goal-container"> 
      <div class="add-goal group">
        <div class="btn btn-info" id="add-goal-button">Add Goal</div>
        <!-- <div class="btn btn-info" id="edit-goals-button">Edit Goals</div> -->
      </div>

      <div class="added-goal-forms"></div>
    </div>

    

    <div id="date-selector-container">
      <select name="current_date" id="date-selector" class="select-large">
        <option value="<%= localdate %>"><%= date_formatted %></option>
        <option value="<%= localdate - 1.days %>"><%= date_formatted(1) %></option>
        <option value="<%= localdate - 2.days %>"><%= date_formatted(2) %></option>
        <option value="<%= localdate - 3.days %>"><%= date_formatted(3) %></option>
        <option value="<%= localdate - 4.days %>"><%= date_formatted(4) %></option>
        <option value="<%= localdate - 5.days %>"><%= date_formatted(5) %></option>
        <option value="<%= localdate - 6.days %>"><%= date_formatted(6) %></option>
      </select> 
    </div>

  </div>

  <div class="goals-list">
    <div class="single-goal">
      <% @goals.each do |goal| %>
        <%= render partial: "goal_unit", locals: {goal: goal} %>
      <% end %>
    </div>
    <div class="added-goals"></div>
  </div>



</div>

<script>
  
  $(document).ready(function () {

    var nextGoalCounter = 0

    var $addGoal = $("#add-goal-button")
    var $addedGoalForms = $(".added-goal-forms")
    var $editGoalsButton = $("#edit-goals-button")

    $addGoal.on("click", function () {

      $.ajax({
        url: "<%= new_goal_path %>",
        type: "GET",
        data: {
          "goal_counter": nextGoalCounter
        },
        success: function (data) {
          $addedGoalForms.append(data);
          nextGoalCounter++
        }
      })

    })

    $editGoalsButton.on("click", function () {
      var $editable = $(".editable");
      $editable.toggleClass("destroyed");
    })




  })

</script>