<div class="goals-index">

  <div class="goals-header group"> 
    
    <div id="date-selector-container">
      <select name="current_date" id="date-selector" class="select-large">
        <option value="<%= Date.today %>"><%= Date.today.strftime("%a %b ") + Date.today.strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 1.days %>"><%= (Date.today - 1.days).strftime("%a %b ") + (Date.today - 1.days).strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 2.days %>"><%= (Date.today - 2.days).strftime("%a %b ") + (Date.today - 2.days).strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 3.days %>"><%= (Date.today - 3.days).strftime("%a %b ") + (Date.today - 3.days).strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 4.days %>"><%= (Date.today - 4.days).strftime("%a %b ") + (Date.today - 4.days).strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 5.days %>"><%= (Date.today - 5.days).strftime("%a %b ") + (Date.today - 5.days).strftime("%d").to_i.ordinalize %></option>
        <option value="<%= Date.today - 6.days %>"><%= (Date.today - 6.days).strftime("%a %b ") + (Date.today - 6.days).strftime("%d").to_i.ordinalize %></option>
      </select> 
    </div>

  </div>

  <div class="goals-list">
    <div class="single-goal">
      <% @goals.each do |goal| %>
        <%= render partial: "goal_unit", locals: {goal: goal} %>
      <% end %>
    </div>
    <div class="added-goals"></div>
  </div>

  <div class="added-goal-forms"></div>

  <div class="add-goal">
    <div class="btn" id="add-goal-button">Add Goal</div>
  </div>

</div>

<script>
  
  $(document).ready(function () {

    var nextGoalCounter = 0

    var $addGoal = $("#add-goal-button")
    var $addedGoalForms = $(".added-goal-forms")

    $addGoal.on("click", function () {

      $.ajax({
        url: "<%= new_goal_path %>",
        type: "GET",
        data: {
          "goal_counter": nextGoalCounter
        },
        success: function (data) {
          $addedGoalForms.append(data);
          nextGoalCounter++
        }
      })

    })

  })

</script>